.hero {
  margin-top: 71px;
  text-align: center;
}

.hero_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;
}

.hero_content h1 {
  max-width: 800px;
  font-size: var(--text-2xl);
  line-height: 60px;
}

.hero_content p {
  max-width: 620px;
  font-family: "Open Sans";
  font-size: var(--text-2lg);
  line-height: 30px;
  margin-top: 33px;
}

.hero_content a {
  width: 100%;
  max-width: 280px;
  background: var(--gradient);
  border-radius: 30px;
  margin-top: 31px;
  padding-block: 18px;
}
