.features {
  margin-top: 169px;
  display: flex;
  justify-content: center;
}

.features_grid {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 170px;
  row-gap: 105px;
}

.features_card {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.features_card:nth-child(2) span {
  margin-block: 17px 12px;
}

.features_card:nth-child(4) span {
  margin-block: 30px 12px;
}

.features_card span {
  display: block;
  font-size: var(--text-lg);
  font-weight: bold;
  margin-block: 25px 12px;
}

.features_card p {
  font-family: "Open Sans";
  font-size: var(--text-sm);
}

@media (width < 990px) {
  .features_grid {
    grid-template-columns: 1fr;
  }
}
